@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: 'Lora', serif;
    font-weight: 300;
}
/* heading and logo */
h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #3A2626;
}
#logo {
    float: left;
    font-size: 250%;
    height: 5%;
}
#logo img{
    height:50px;
    padding-top: 5px;
}

