@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: 'Lora', serif;
    font-weight: 300;
}
/* heading and logo */
h1, h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #3A2626;
}
p {
    color: #832b2b;
}
#logo {
    float: left;
    font-size: 250%;
    height: 5%;
}
#logo img{
    height:50px;
    padding-top: 5px;
}
/* navigation links */
#menu {
    font-size: 110%;
    letter-spacing: 1px;    
}
#menu, #logo {
    line-height: 75px;
}
#menu li {
    float: right;
    list-style: none;
    margin-right: 30px;
}
#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    text-decoration: underline;
}
.active {
    font-size: 150%;
}
/* main image */
#main-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}
#main-image {
    height: 600px;
    width: 100%;
    background: url('../images/main.jpg') no-repeat center center;
    background-size: 100%;
     /* animates zoom effect on loading page  */
     animation-name: main-zoom;
     animation-duration: 5s;
     animation-fill-mode: forwards;
}
/* creates the level of zoom for main image  */
@keyframes main-zoom {
    from{transform: scale(1);
    }
    to{transform: scale(1.5);

    }
}
/* about image */
#sideview-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}
#sideview-image {
    height: 600px;
    width: 100%;
    background: url('../images/sideview-castle.jpg') no-repeat center center;
    background-size: 100%;
     /* animates zoom effect on loading page  */
     animation-name: sideview-zoom;
     animation-duration: 5s;
     animation-fill-mode: forwards;
}
/* creates the level of zoom for about image  */
@keyframes sideview-zoom {
    from{transform: scale(1);
    }
    to{transform: scale(1.1);

    }
}
/* Reasons to visit the Castle */
#reasons {
    height: 600px;
}
#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 120%;
}
#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
}
#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}
.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 20px;
}
.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 20px;
}
.right-about-heading h2 {
    text-align: right;
}
.right-about-heading p {
    text-align: right;
} 
hr {
    border-top: 1px solid #3A2626;
}
/* Center video to reasons section */
.video-container {
    height: 350px;
    width: 350px;
    position: relative;
    padding: 30px;
    left: 2%;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}
/* gallery */
#gallery {
    clear: both;
      line-height: 0;
      column-count: 3;
      column-gap: 0;
  }
  #gallery > img {
      width: 100%;

  } 
 /* Form */
 .form-section {
    clear: left;
    background: url('../images/corvin-castle-mid19th.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 900px;
}
.signup-form {
    margin: 20% 30%;
    color: #3A2626;
    background-color:rgba(241, 228, 228, 0.6);
    width: 40%;
}
.signup-form > h2 {
    color: #3A2626;
    margin-bottom: 20px;
}
.text-input {
    background: transparent;
    color: #3A2626;
    width: 100%;
    margin: 5px 0 20px;
    border: 2px solid #3A2626;
    border-radius: 2px;
}
.text-input:hover {
    border: 3px solid #3A2626;
}
.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #3A2626;
    color: #fafafa;
    display: block;
}
.submit-button:hover {
    background-color: #fafafa;
    color: #3A2626;
}
/* map from contact */
.mapouter {
    margin: 10px;
    float: center;
    text-align: center;
    height: 150px;
    width: 100%;
}
.gmap-canvas {
    background: none!important;
    height: 150px;
    width: 100%;
}
/* about text style */
.about {
    text-align: center;
    margin: 20px 10%;
    font-size: 100%;
}
.about ul {
    list-style: square;
    text-align: left;
}
    /* Footer */    
#entry div {
    color: #832b2b;
    background-color: rgba(148, 54, 54, 0.6);
    height: 120px;
    float: left;
    padding: 10px 0;
    text-align: center;
    border: 2px solid  rgb(245, 245, 245);
    box-sizing: border-box;
}
#entry {
    background-image: url("../images/hunedoara-city.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}
.footer {
    width: 40%;
}
.footer-center {
    width: 20%;
}
.footer h2 {
    color: rgb(245, 222, 179);
}
.footer p {
    color: rgb(245, 222, 179);
}
/* Social network buttons */
.social-networks{
    padding-top: 10px;
    text-align: center;
}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 200%;
    margin: 0;
    padding: 5px;
    color: rgb(245, 222, 179);
}


